<div class="container navless-container">
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Server: <%= @selected_server %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/">all</a></li>
        <% @servers.each do |server| %>
            <li><%= link_to server.dns_name, server: server.dns_name %></a></li>
        <% end %>
      </ul>
    </li>
    <li role="presentation" <%= 'class=active' if @active == 'all' %>><%= link_to 'All', controller: :dashboard, action: :index, server: @selected_server%></li>
    <li role="presentation" <%= 'class=active' if @active == 'failed' %>><%= link_to 'Failed', controller: :dashboard, action: :failed, server: @selected_server%></li>
    <li role="presentation" <%= 'class=active' if @active == 'passed' %>><%= link_to 'Passed', controller: :dashboard, action: :passed, server: @selected_server%></li>
  </ul>
  <br>
  <% @activity.each do |a| %>
      <div id="<%= a.id %>">
        <% if a.server and a.check %>
            <% if a.passed %>
                <p>
                  <span class="label label-success">Passed</span>
                </p>
            <% elsif a.passed == false %>
                <p>
                  <span class="label label-danger">Failed</span>
                </p>
            <% elsif a.passed == nil %>
                <p>
                  <span class="label label-default">In progress</span>
                </p>
            <% end %>
            <p>
              <%= raw("Send <strong>#{a.check.icmp_count}</strong> ICMP packet on #{link_to a.server.dns_name, server_path(a.server)}") if a.check.check_type == 'icmp' %>
              <%= raw("Check if <strong>#{a.check.tcp_port}</strong> port open on #{link_to a.server.dns_name, server_path(a.server)}") if a.check.check_type == 'port_open' %>
              <%= raw("Check <a target=\"_blank\" href=\"#{a.check.http_protocol}://#{a.check.http_vhost}#{a.check.http_uri}\">#{a.check.http_protocol}://#{a.check.http_vhost}#{a.check.http_uri}</a> for <strong>#{a.check.http_code}</strong> HTTP code on #{link_to a.server.dns_name, server_path(a.server)}") if a.check.check_type == 'http_code' %>
              <%= raw("Check <a target=\"_blank\" href=\"#{a.check.http_protocol}://#{a.check.http_vhost}#{a.check.http_uri}\">#{a.check.http_protocol}://#{a.check.http_vhost}#{a.check.http_uri}</a> for <strong>#{a.check.http_code}</strong> HTTP code and keyword <strong>#{a.check.http_keyword}</strong> on #{link_to a.server.dns_name, server_path(a.server)}") if a.check.check_type == 'http_keyword' %>
            </p>
            <a href="javascript:void(0)" style="background-color: gray; color: white" onclick="check_details(<%= a.id %>); $(this).hide(); return false;">Details▼</a>
            <p><span class="label label-default"><%= a.updated_at %></span></p>
            <hr>
      </div>
      <% end %>
  <% end %>
  <div class="row">
    <div class="pagination-block" style="float: none">
      <%= will_paginate @activity, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>