<div class="navbar">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Captainfailure</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if @active == 'servers' %>><a href="/servers">Servers</a></li>
        <li <%= 'class=active' if @active == 'satellites' %>><a href="/satellites">Satellites</a></li>
        <li <%= 'class=active' if @active == 'notifications' %>><a href="/notifications">Notifications</a></li>
        <% if current_user.is_admin %>
        <li <%= 'class=active' if @active == 'users' %>><a href="/users/manage">Users</a></li>
        <li <%= 'class=active' if @active == 'settings' %>><a href="/settings">Settings</a></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li>
          <form class="navbar-form navbar-right">
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-warning' %></li>
          </form>
        </ul>
      <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
</div>