<div class="container navless-container">
  <%= render partial: 'settings/settings_nav' %>
  <div class="col-md-4">
    <%= simple_form_for @setting, url: '/settings/turbosms' do |f| %>
        <%= f.input :user %>
        <%= f.input :password, input_html: { value: @setting.password }%>
        <%= f.input :name_in_sms %>
        <%= f.button :submit, value: 'Save' %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">TurboSMS balance</h3>
      </div>
      <div class="panel-body" id="turbosms-balance">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>

<script>
    $.ajax({url: "/settings/turbosms_balance", success: function(result){
        $('#turbosms-balance').html(result);
    },
        error: function (xhr, ajaxOptions, thrownError) {
            $('#turbosms-balance').html('<p style="color: red;">Error getting data from turbosms.ua</p>');
        }
    });
</script>
