<div class="container navless-container">
  <%= render partial: 'settings/settings_nav' %>
  <div class="col-md-4">
    <%= simple_form_for @setting, url: '/settings/turbosms' do |f| %>
        <%= f.input :user %>
        <%= f.input :password, input_html: { value: @setting.password }%>
        <%= f.input :name_in_sms %>
        <%= f.button :submit, value: 'Save' %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">TurboSMS balance</h3>
      </div>
      <div class="panel-body">
        <%= @balance %>
      </div>
    </div>
  </div>
</div>