<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4 center-block">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><strong>Captainfailure: Sign In </strong></h3></div>
      <div class="authform panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'}) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Enter email' %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              <%- if devise_mapping.recoverable? %>
                  <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
              <% end -%>
            </div>
            <%= f.submit 'Sign in', :class => 'button right' %>
            <% if devise_mapping.rememberable? -%>
                <div class="checkbox" style="width:150px">
                  <label>
                    <%= f.check_box :remember_me %> Remember me
                  </label>
                </div>
            <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>