<!DOCTYPE html>
<html>
<head>
  <title>Captainfailure</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<% if user_signed_in? %>
    <%= render partial: 'shared/navbar' %>
<% end %>

<% if notice %>
  <div class="container navless-container">
    <p class="alert alert-success"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="container navless-container">
    <p class="alert alert-danger"><%= alert %></p>
  </div>
<% end %>

<%= yield %>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
</body>
</html>
